<h2>Template: Switches</h2>

<hr />

<form #miforMulario="ngForm">
  <!-- Radios -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 control-form-label">Genero</label>

    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          id="radioMasculino"
          required
        />
        <label class="form-check-label" for="radioMasculino"> Masculino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          name="radioGenero"
          id="radioFemenino"
          required
        />
        <label class="form-check-label" for="radioFemenino"> Femenino </label>
      </div>
    </div>
  </div>

  <!-- Switch -->

  <div class="row mb-3">
    <label for="" class="col-sm-3 control-form-label">Notificaciones</label>

    <div class="col-sm-9">
      <div class="form-check form-switch mt-1">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          name="notificaciones"
          [(ngModel)]="persona.notificaciones"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Quiere recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!-- Check -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 control-form-label"></label>

    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexCheckDefault"
          name="terminosCondiciones"
          [(ngModel)]="terminosCondiciones"
          required
        />
        <label class="form-check-label" for="flexCheckDefault">
          Terminos y condiciones de uso
        </label>
      </div>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary float-end"
        [disabled]="miforMulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<h5>Valor formulario</h5>
<pre>
  {{ miforMulario.value | json }}
</pre>

<br />

<h5>Valid</h5>
{{ miforMulario.valid }}

<h5>Termino</h5>
{{ miforMulario.controls["terminosCondiciones"]?.errors | json }}

<br />
<br />
<pre>
  Condiciones: 
</pre>
